body{
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #1e1e1e;
    background-image: linear-gradient(to bottom right, #3e3e3e, #212121);
    background-position: center;
    position: absolute;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3), 0 4px 12px rgba(0, 0, 0, 0.2);
    transform: perspective(500px) rotateX(10deg) rotateY(10deg);
    justify-content: center;
    align-items: center;
}

.minute-hand{
    width: 10px;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    background-color: grey;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(0deg); 
    transform-origin: center bottom; 
    animation: rotate-hand 3600s linear infinite;
}

.hour-hand{
    width: 15px;
    height: 75px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%) rotate(0deg); 
    transform-origin: center bottom; 
    animation: rotate-hand 432000s linear infinite;
}

@keyframes rotate-hand{
    from{
        transform: translate(-50%, -100%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -100%) rotate(360deg);
    }
}

.invisible-box{
    position: absolute;
    background-color: #1e1e1e;
    height: 290px;
    width: 290px;
    border-radius: 50%;
    margin-top: 4px;
    margin-left: 4px;
    animation: orbit 60s linear infinite;
}

.second-hand{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    background-color: #ff5733;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -100%) rotate(0deg); 
    animation: rotate-hand 60s linear infinite;
}

@keyframes orbit {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.second-hand {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% { box-shadow: 0 0 5px #ff5733; }
    100% { box-shadow: 0 0 20px #ff5733; }
}
body {
    background: linear-gradient(90deg, #141E30, #243B55);
    background-size: 200% 200%;
    animation: gradient-animation 10s infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}